<a class="btn waves-effect waves-light" href="/" style="float: right">Back</a>
<h2> Enter Email </h2>
<form>
  <div class="input-field col s12 ">
    <input type="text" id="email" class="validate">
    <label>Email </label>
  </div>
  <div>
    <button class="btn waves-effect waves-light" id="forgetPassword" type="submit">Submit
    </button>
  </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

<script>

  $("#forgetPassword").click(function (event) {
    event.preventDefault();
    if (!$('#email').val()) {
      return $.notify('Email is required', { type: 'danger' });
    }
    $(".loader").show();
    $.ajax("/forget-password", {
      method: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        email: $('#email').val()
      }),
      success: function (result) {
        if (result.status === true) {
          setTimeout(() => {
            $(".loader").hide();
          }, 1000);
          $.notify(result.message, "success");
          document.location.href = "/login";
        }
        else {
          $.notify(result.message)
          setTimeout(() => {
            $(".loader").hide();
          }, 1000);
        }

      },

    })

  });
</script>
